// Compiled in terminal for Dart SASS --> sass scss/main.scss css/main.css

// Mixin

@mixin flex-box($par-jst-content: flex-start, $par-alg-items: flex-start, $par-flex-dir: row) {
  display: flex;
  justify-content: $par-jst-content;
  align-items: $par-alg-items;
  flex-direction: $par-flex-dir;
}

// Import font

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Variables

$var-border-red: 1px solid red;
$var-font-fam: 'Poppins',
sans-serif;

$var-col-black: hsl(0, 0%, 0%);
$var-col-white: hsl(0, 0%, 100%);

$var-col-bs-green: hsl(158, 95%, 34%);
$var-col-bs-green-dk: hsl(158, 95%, 23%);
$var-col-bs-green-lt: hsl(158, 95%, 50%);
$var-col-bs-blue: hsl(193, 56%, 17%);
$var-col-bs-blue-dk: hsl(193, 56%, 9%);
$var-col-bs-gray: hsl(251, 9%, 65%);
$var-col-bs-gray-dk: hsl(251, 2%, 24%);
$var-col-bs-gray-lt: hsl(251, 5%, 94%);

$var-col-kf-green: hsl(142, 72%, 29%);
$var-col-kf-orange: hsl(41, 96%, 40%);
$var-col-kf-gray: hsl(217, 19%, 27%);

// Base

html {
  font-family: $var-font-fam;
  font-size: 1rem;
  font-weight: 400;
  scroll-behavior: smooth;

  // Portrait

  @media screen and (min-width: 600px) and (orientation : portrait) {
    font-size: 1.15rem;
  }

  // Landscape

  @media screen and (min-width: 960px) and (orientation : landscape) {
    font-size: 1.15rem;
  }

  @media screen and (min-width: 1280px) and (orientation : landscape) {
    font-size: 1.25rem;
  }
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: $var-col-white;
  color: $var-col-black;
  @include flex-box(space-between, center, column);
}

body.dark {
  background-color: $var-col-bs-blue-dk;
  color: $var-col-white;
}

#top-con,
#bottom-con {
  width: 100%;
  padding: 0.75rem 0;
}

#top-con {
  @include flex-box(flex-start, center, column);
}

#bottom-con {
  @include flex-box(center, center, row);
}

// Header

header {
  width: 100%;
  transition: 0.4s;
  @include flex-box(center, center, row);

  #hdr-box {
    width: 85%;
    @include flex-box(space-between, center, row);

    @media screen and (min-width: 1280px) and (orientation : landscape) {
      width: 70%;
    }

    #hdr-logo {
      height: 2rem;
    }

    #hdr-logo.dark {
      filter: brightness(0) invert(1);
    }

    #btn-theme {
      cursor: pointer;
    }

    #btn-theme:hover {
      color: $var-col-bs-green;
    }
  }
}

header.sticky {
  position: sticky;
  top: -1px;
  padding-top: 0.25rem;
  font-size: 0.65rem;
  background-color: $var-col-bs-blue;
  color: $var-col-white;

  #hdr-box {
    #hdr-logo {
      height: 1.5rem;
      filter: brightness(0) invert(1);
    }

    #btn-theme:hover {
      color: $var-col-bs-green-lt;
    }
  }
}

// Main

#main {
  width: 85%;
  padding-top: 0.75rem;
  @include flex-box(flex-start, center, column);
}

#intro {
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
  @include flex-box(flex-start, center, column);

  p {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 2px;
  }

  p#intro-desc {
    padding-top: 1rem;
    font-size: 0.75rem;
    color: $var-col-bs-gray;
  }
}

.menu-group {
  width: 90%;
  @include flex-box(flex-start, center, column);

  // Portrait

  @media screen and (min-width: 600px) and (orientation : portrait) {
    width: 75%;
  }

  // Landscape

  @media screen and (min-width: 960px) and (orientation : landscape) {
    width: 70%;
  }

  @media screen and (min-width: 1280px) and (orientation : landscape) {
    width: 55%;
  }

  h2 {
    font-size: 0.95rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.25rem;
  }

  .btn-app {
    cursor: pointer;
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem;
    border-radius: 0.65rem;
    background-color: $var-col-bs-green;
    color: $var-col-white;
    letter-spacing: 2px;
    @include flex-box(space-between, center, row);

    .btn-gap,
    .btn-arrow {
      width: 10%;

      // Landscape

      @media screen and (min-width: 960px) and (orientation : landscape) {
        width: 7%;
      }

      @media screen and (min-width: 1280px) and (orientation : landscape) {
        width: 5%;
      }
    }
  }

  .btn-app:hover {
    background-color: $var-col-bs-green-dk;
  }

  .btn-app.open {
    border-radius: 0.65rem 0.65rem 0 0;
    background-color: $var-col-bs-green-dk;
    margin: 0.5rem 0 0 0;
  }

  .btn-app.open:hover {
    background-color: $var-col-bs-green;
  }

  .app-dtl {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0 0 0.65rem 0.65rem;
    background-color: $var-col-bs-gray-lt;
    @include flex-box(flex-start, center, column);

    img {
      margin: 0.5rem 0.75rem;
      padding: 0.25rem;
      height: auto;
      max-width: 60%;
      border-radius: 50%;
      background-color: $var-col-white;

      // Portrait

      @media screen and (min-width: 600px) and (orientation : portrait) {
        max-width: 50%;
      }

      @media screen and (min-width: 768px) and (orientation : portrait) {
        max-width: 40%;
      }

      // Landscape

      @media screen and (min-width: 1280px) and (orientation : landscape) {
        max-width: 40%;
      }
    }

    img.dark {
      background-color: $var-col-bs-gray-lt;
    }

    .app-desc {
      font-size: 0.8rem;
      margin: 0 0.75rem;
      padding: 0.5rem 0;
      @include flex-box(flex-start, center, column);

      p {
        text-align: center;
      }

      a button {
        cursor: pointer;
        margin-top: 0.65rem;
        padding: 0.5rem 1rem;
        border-radius: 0.65rem;
        background-color: $var-col-bs-green;
        color: $var-col-white;
      }

      a button:hover {
        background-color: $var-col-bs-green-dk;
      }
    }
  }

  .app-dtl.dark {
    background-color: $var-col-bs-gray-dk;
  }

  @media screen and (orientation : landscape) {
    .app-dtl {
      @include flex-box(flex-start, center, row);

      img {
        max-width: 30%;
      }
    }
  }
}

.app-dtl.hidden {
  display: none;
}

// Profile

#profile {
  margin-top: 2rem;
}

#btn-profile p {
  font-size: 0.85rem;
  letter-spacing: 1px;
}

#btn-profile p.dark {
  color: $var-col-white;
}

#btn-profile p:hover {
  transform: translateX(8px);
  transition-duration: 0.4s;
}

// Footer

#copy {
  font-size: 0.75rem;
  font-weight: 500;
  color: $var-col-bs-gray;
}